<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title>Sonic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .audio-player {
            margin-top: 20px;
            margin-bottom: 40px;
            display: none;
            /* Hide the audio player */
        }

        .large-round-button {
            border-radius: 50%;
            /* Make the buttons circular */
            width: 125px;
            /* Increase the width */
            height: 125px;
            /* Increase the height */
            padding: 10px;
            /* Adjust padding as needed */
            font-size: 20px;
            /* Increase the font size */
            text-align: center;
            /* Center the text */
            line-height: 80px;
            /* Center the text vertically */
            margin: 10px;
            /* Add some margin to create space between the buttons */
        }

        .response {
            margin-bottom: 40px;
            /* Add margin at the bottom to create space */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mx-auto">
                <!-- <img class="mb-3" src="/static/jollybeard.png" alt="" style="height:250px"> -->
                <img id="jollybeard-img" class="mb-3" src="/static/sonic.png" alt="" style="height:250px">
                <h1 class="mb-4">Sonic the Hedgehog</h1>
                <form>
                    <div class="form-group mb-3">
                        <textarea id="transcription-box" class="form-control" rows="3"
                            placeholder="Type a question or press record."></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="button" class="btn btn-danger large-round-button"
                            id="record-button">Record</button>
                        <!-- <button type="button" class="btn btn-primary large-round-button" id="ask-button">Ask</button> -->
                    </div>
                </form>
                <div class="audio-player">
                    <audio id="audio-element"></audio>
                </div>
                <div class="response">
                    <p id="response-text"></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            // Get references to HTML elements
            const recordButton = $('#record-button');
            const transcriptionBox = $('#transcription-box');
            const askButton = $('#ask-button');
            const audioElement = $('#audio-element')[0];
            const conversation = [];

            // Helper methods
            const disableButton = (btn) => { btn.addClass("loading").prop("disabled", true); }
            const enableButton = (btn) => { btn.removeClass("loading").prop("disabled", false); }

            // Initialize TypeIt
            new TypeIt("#response-text", {
                strings: "Hold down the button while speaking, release when you are done.",
                speed: 40,
                waitUntilVisible: true,
                cursorChar: "▊",
            }).go();

            // Ask question and play audio when ask button is clicked
            askButton.click(() => {
                disableButton(recordButton);
                disableButton(askButton);
                askButton[0].innerHTML = "Thinking...";
                conversation.push({ role: "user", "content": transcriptionBox.val() })
                const textData = { conversation: conversation };
                $.ajax({
                    type: 'POST',
                    url: '/ask',
                    data: JSON.stringify(textData),
                    contentType: 'application/json',
                    success: (data) => {
                        const fileURL = data.audio;
                        $("#response-text")[0].innerHTML = "";
                        conversation.push({ role: "assistant", "content": data.text })
                        new TypeIt("#response-text", {
                            strings: data.text,
                            speed: 39,
                            waitUntilVisible: false,
                            cursorChar: "▊",
                        }).go();
                        // Change the image to the animated GIF when the voice-over starts
                        $("#jollybeard-img").attr("src", "/static/looper.gif");
                        // $("#jollybeard-img").css("height", "312.5px");  // 250px * 1.25 = 312.5px

                        audioElement.src = fileURL;
                        audioElement.controls = true;
                        audioElement.play();
                        // Add an event listener to change the image back to static when the voice-over ends
                        audioElement.onended = function () {
                            audioElement.pause();
                            audioElement.currentTime = 0;
                            $("#jollybeard-img").attr("src", "/static/sonic.png");
                        };

                        enableButton(recordButton);
                        enableButton(askButton);
                        askButton[0].innerHTML = "Ask";
                    }
                });
            });

            navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = (event) => {
                    chunks.push(event.data);
                };
                mediaRecorder.onstop = () => {
                    disableButton(recordButton);
                    recordButton[0].innerHTML = "Transcribing...";
                    const audioData = new Blob(chunks, { type: 'audio/wav' });
                    const formData = new FormData();
                    formData.append('file', audioData, 'audio.wav');
                    $.ajax({
                        type: 'POST',
                        url: '/transcribe',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: (data) => {
                            transcriptionBox.val(data.text);
                            enableButton(recordButton);
                            recordButton[0].innerHTML = "Record";
                            askQuestionAndPlayAudio(); // Trigger the functionality
                        }
                    });
                };
            });

            // Record audio when record button is pressed and held
            // recordButton.mousedown(() => {
            //     recordButton[0].innerHTML = "Recording...";
            //     chunks = [];
            //     mediaRecorder.start();
            //     recording = true;
            // });

            // // Stop recording when record button is released
            // recordButton.mouseup(() => {
            //     mediaRecorder.stop();
            //     recording = false;
            // });

            // Record audio when record button is pressed and held
            // recordButton.on('mousedown touchstart', () => {
            //     recordButton[0].innerHTML = "Recording...";
            //     chunks = [];
            //     mediaRecorder.start();
            //     recording = true;
            // });

            // // Stop recording when record button is released
            // recordButton.on('mouseup touchend', () => {
            //     mediaRecorder.stop();
            //     recording = false;
            // });

            // Helper function to handle the start of the recording
            function startRecording() {
                recordButton[0].innerHTML = "Recording...";
                chunks = [];
                mediaRecorder.start();
            }

            // Helper function to handle the end of the recording
            function stopRecording() {
                mediaRecorder.stop();
            }

            // Record audio when record button is pressed and held (desktop)
            recordButton.on('mousedown', startRecording);

            // Stop recording when record button is released (desktop)
            recordButton.on('mouseup', stopRecording);

            // Record audio when record button is touched and held (mobile)
            recordButton.on('touchstart', function (event) {
                event.preventDefault();  // Prevents mouse event from being triggered
                startRecording();
            });

            // Stop recording when touch is released (mobile)
            recordButton.on('touchend', function (event) {
                event.preventDefault();  // Prevents mouse event from being triggered
                stopRecording();
            });


            // ... rest of the code

            // Function to ask question and play audio
            function askQuestionAndPlayAudio() {
                disableButton(recordButton);
                recordButton[0].innerHTML = "Thinking...";
                conversation.push({ role: "user", "content": transcriptionBox.val() })
                const textData = { conversation: conversation };
                $.ajax({
                    type: 'POST',
                    url: '/ask',
                    data: JSON.stringify(textData),
                    contentType: 'application/json',
                    success: (data) => {
                        const fileURL = data.audio;
                        $("#response-text")[0].innerHTML = "";
                        conversation.push({ role: "assistant", "content": data.text })
                        new TypeIt("#response-text", {
                            strings: data.text,
                            speed: 39,
                            waitUntilVisible: false,
                            cursorChar: "▊",
                        }).go();
                        // Change the image to the animated GIF when the voice-over starts
                        $("#jollybeard-img").attr("src", "/static/looper.gif");
                        // $("#jollybeard-img").css("height", "312.5px");  // 250px * 1.25 = 312.5px

                        audioElement.src = fileURL;
                        audioElement.controls = true;
                        audioElement.play();
                        // Add an event listener to change the image back to static when the voice-over ends
                        audioElement.onended = function () {
                            audioElement.pause();
                            audioElement.currentTime = 0;
                            $("#jollybeard-img").attr("src", "/static/sonic.png");
                        };

                        enableButton(recordButton);
                        recordButton[0].innerHTML = "Record";
                    }
                });
            }
        });
    </script>
</body>

</html>